<header>
  <div class="firstLayer">
    <div class="logo" appUppercase>
      <img src="favicon.ico" alt="logo">
    </div>
    <app-slide-function></app-slide-function>
    <div class="content">
      <app-slide-content *ngFor="let new of news" [hidden]="!verifySlide(new.id)" [new]="new"></app-slide-content>
    </div>
  </div>
  <div class="secondLayer">
    <div class="back-dark"></div>
  </div>
  <div class="thirdLayer">
    <app-slide-background></app-slide-background>
  </div>
</header>
<app-menu></app-menu>