@import '~sass/mixins';
@import '~sass/variables';
header {
    @include define-size(100%, 500px);
    position: relative;
    z-index: 0;

    .firstLayer {
        @include layer(3); 
        .logo {
            position: absolute;
            top: 10px;
            left: 10px;
            img {
                width: 120px;
                height: auto;
            }
        }
    }

    .secondLayer {
        @include layer(2);
        .back-dark {
            width: 100%;
            height: 100%;
            background: $color-darken;
            opacity: 1;
        }
    }

    .thirdLayer {
        @include layer(1);
    }
}