@import '~sass/variables';
footer {
  width: 100%;
  background: $color-darken;
  color: $color-secondary;
  text-align: center;
  display: table;
  position: relative;
  .content {
    padding: 30px;
    h5 {
      a {
        color: $color-black;
      }
    }
    .logo {
      position: absolute;
      right: 5px;
      bottom: 5px;
      img {
        width: 70px;
        height: auto;
      }
    }
  }
}

@media(max-width: 600px) {
  footer {
    .content {
      padding: 10px;
      .logo {
          position: initial;
          width: 100%;
          margin-top: 10px;
      }
    }
  }
}
