<div class="search-page animated" [class.disabled]="!isOpenSearch" [class.fadeIn]="isOpenSearch">
  <div class="back-page">
    <div class="exit animated tada">
      <button (click)="closeSearch()">
        <span class="animated fadeOutLeft" appUppercase>Sair</span>
        <img src="/assets/icons/cancel-back-white.svg" alt="fechar" class="big-icon" align="center">
      </button>
    </div>
    <div class="search-content">
      <div class="input">
        <input type="search" appRainbowEffect autofocus placeholder="Digite sua busca" class="animated fadeInLeft">
        <br>
        <button class="animated bounceInUp">
          <span appUppercase>buscar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="dark-page"></div>
</div>