<div id="about" class="content-div">
  <div class="content">
    <div class="image">
      <img src="/assets/images/about/whoami.png" alt="empresa">
    </div>
    <div class="text">
      <div class="title">
        <h2>Quem somos</h2>
        <br>
        <p>A MM Artes e Brindes é uma empresa inovadora no ramo de comunicação visual, especializada na criação de artes, impressões (digital e laser),
          comércio de brindes personalizados e adesivos (decorativos e de envelopamento). Disponibilizamos de ferramentas e acessórios, além de suporte 
          técnico aos profissionais deste segmento.
          Atendemos a cidade de Cajazeiras e região desde 2013, com empenho e dedicação, buscando sempre apresentar aos nossos clientes e colaboradores 
          os melhores resultados possíveis para satisfazer suas perspectivas. 
        </p>
      </div>
    </div>
  </div>
  <div class="content-left">
    <div class="image">
      <img src="/assets/images/about/mm artes 1.png" alt="empresa">
    </div>
    <div class="text">
      <div class="title">
        <h2>Missão</h2><br>
        <p>Promover soluções criativas, funcionais e diversificadas que atendam com excelência, agilidade e respeito as necessidades dos nossos clientes.</p><br>
        <h2>Visão</h2><br>
        <p>Ser referência no seguimento de comunicação visual em Cajazeiras e região, como uma empresa que oferece produtos e serviços de alta qualidade aos clientes e colaboradores.</p><br>
        <h2>Valores</h2><br>
        <p>Profissionalismo, Criatividade, Agilidade, Dedicação, Respeito e Espírito inovador.</p>
      </div>
    </div>
  </div>

</div>
