@import '~sass/variables';

.full-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .full-page-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1002;

        .close {
            width: 100%;
            text-align: right;
            color: $color-secondary;
            padding: 10px 0;
            a {
                padding: 0 10px;
            }
        }

        .image {
            width: 100%;
            height: 100%;
            position: relative;
            text-align: center;
            img {
                width: 90%;
                min-width: 300px;
                height: auto;
                max-height: 80%;
            }
        }
    }

    .full-page-dark {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color-darken;
        opacity: 0.6;
        top: 0;
        left: 0;
        z-index: 1001;
    }
}