<div id="products" class="content-div">
  <div class="content-title">
    <div class="title">
      <h2>Produtos</h2>
    </div>
  </div>
  <div class="products" *ngFor="let productLine of productsLine">
    <div appBackImage [imageBackground]='productLine.image' class="back-image">
      <div>
        <h2>{{productLine.name}}</h2>
        <br>
        <div class="productsDetail">
          <a class="product" *ngFor="let product of productLine.products" (click)="seeInModeFullImage(productLine.id, product.id)">
            <span *ngIf="product.name" >{{product.name}}</span>
            <div class="box" appBackImage [imageBackground]="product.image"></div>
          </a>
        </div>
      </div>
      <div class="dark"></div>
    </div>
  </div>
</div>
