<div class="menu-side-right animated" [hidden]="!isOpenMenu" [class.slideInRight]="isOpenMenu">
  <div class="header-menu">
    <div class="logo">
      <img src="favicon.ico" alt="logo">
    </div>
  </div>
  <hr class="little-division">
  <nav class="content">
    <a appUppercase [routerLink]="['/user/bob']">Home</a>
    <a appUppercase>Produtos</a>
    <a appUppercase>Fotos e Vídeos</a>
    <a appUppercase>Contato</a>
    <a class="no-cursor">
      <app-search-min></app-search-min>
    </a>
  </nav>
</div>
<div class="back-dark animated" [hidden]="!isOpenMenu" [class.fadeIn]="isOpenMenu"></div>
<app-button-menu></app-button-menu>