@import '~sass/mixins';
@import '~sass/variables';

.menu-side-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 280px;
    background: $color-primary;
    padding: 5px;
    height: 100%;

    .header-menu {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        .logo {
            img {
                width: 100px;
                height: auto;
            }
        }
    }

    .little-division {
        width: 40px;
        height: 1px;
        background: $color-secondary;
        margin: 20px auto;
    }

    .content {
        a {
            list-style: none;
            display: list-item;
            color: $color-secondary;
            padding: 10px 5px;

            &:hover {
                color: $color-primary;
                background: $color-secondary;
                cursor: pointer;
                transition-duration: 0.3s;
            }
        }

        .no-cursor {
            &:hover {
                background: transparent;
            }
        }
    }
}